<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangwang.shop.dao.HotViewHomeMapper">
  <resultMap id="BaseResultMap" type="com.wangwang.shop.bean.HotViewHome">
    <result column="goods_sort_one_id" jdbcType="INTEGER" property="goodsSortOneId" />
    <result column="sort_one_name" jdbcType="CHAR" property="sortOneName" />
    <result column="goods_sort_two_id" jdbcType="INTEGER" property="goodsSortTwoId" />
    <result column="sort_two_name" jdbcType="CHAR" property="sortTwoName" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="goods_number" jdbcType="CHAR" property="goodsNumber" />
    <result column="goods_sort_id" jdbcType="INTEGER" property="goodsSortId" />
    <result column="sale_total" jdbcType="INTEGER" property="saleTotal" />
    <result column="visit_num" jdbcType="INTEGER" property="visitNum" />
    <result column="goods_desc" jdbcType="CHAR" property="goodsDesc" />
    <result column="image_desc" jdbcType="CHAR" property="imageDesc" />
    <result column="image_url" jdbcType="CHAR" property="imageUrl" />
    <result column="image_id" jdbcType="BIGINT" property="imageId" />
    <result column="view_name" jdbcType="VARCHAR" property="viewName" />
    <result column="is_sale" jdbcType="INTEGER" property="isSale" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    goods_sort_one_id, sort_one_name, goods_sort_two_id, sort_two_name, goods_id, name, 
    goods_number, goods_sort_id, sale_total, visit_num, goods_desc, image_desc, image_url, 
    image_id, view_name, is_sale
  </sql>
  <select id="selectByExample" parameterType="com.wangwang.shop.bean.HotViewHomeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hot_view_home
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.wangwang.shop.bean.HotViewHomeExample">
    delete from hot_view_home
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wangwang.shop.bean.HotViewHome">
    insert into hot_view_home (goods_sort_one_id, sort_one_name, goods_sort_two_id, 
      sort_two_name, goods_id, name, 
      goods_number, goods_sort_id, sale_total, 
      visit_num, goods_desc, image_desc, 
      image_url, image_id, view_name, 
      is_sale)
    values (#{goodsSortOneId,jdbcType=INTEGER}, #{sortOneName,jdbcType=CHAR}, #{goodsSortTwoId,jdbcType=INTEGER}, 
      #{sortTwoName,jdbcType=CHAR}, #{goodsId,jdbcType=BIGINT}, #{name,jdbcType=CHAR}, 
      #{goodsNumber,jdbcType=CHAR}, #{goodsSortId,jdbcType=INTEGER}, #{saleTotal,jdbcType=INTEGER}, 
      #{visitNum,jdbcType=INTEGER}, #{goodsDesc,jdbcType=CHAR}, #{imageDesc,jdbcType=CHAR}, 
      #{imageUrl,jdbcType=CHAR}, #{imageId,jdbcType=BIGINT}, #{viewName,jdbcType=VARCHAR}, 
      #{isSale,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wangwang.shop.bean.HotViewHome">
    insert into hot_view_home
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsSortOneId != null">
        goods_sort_one_id,
      </if>
      <if test="sortOneName != null">
        sort_one_name,
      </if>
      <if test="goodsSortTwoId != null">
        goods_sort_two_id,
      </if>
      <if test="sortTwoName != null">
        sort_two_name,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="goodsNumber != null">
        goods_number,
      </if>
      <if test="goodsSortId != null">
        goods_sort_id,
      </if>
      <if test="saleTotal != null">
        sale_total,
      </if>
      <if test="visitNum != null">
        visit_num,
      </if>
      <if test="goodsDesc != null">
        goods_desc,
      </if>
      <if test="imageDesc != null">
        image_desc,
      </if>
      <if test="imageUrl != null">
        image_url,
      </if>
      <if test="imageId != null">
        image_id,
      </if>
      <if test="viewName != null">
        view_name,
      </if>
      <if test="isSale != null">
        is_sale,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsSortOneId != null">
        #{goodsSortOneId,jdbcType=INTEGER},
      </if>
      <if test="sortOneName != null">
        #{sortOneName,jdbcType=CHAR},
      </if>
      <if test="goodsSortTwoId != null">
        #{goodsSortTwoId,jdbcType=INTEGER},
      </if>
      <if test="sortTwoName != null">
        #{sortTwoName,jdbcType=CHAR},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=CHAR},
      </if>
      <if test="goodsNumber != null">
        #{goodsNumber,jdbcType=CHAR},
      </if>
      <if test="goodsSortId != null">
        #{goodsSortId,jdbcType=INTEGER},
      </if>
      <if test="saleTotal != null">
        #{saleTotal,jdbcType=INTEGER},
      </if>
      <if test="visitNum != null">
        #{visitNum,jdbcType=INTEGER},
      </if>
      <if test="goodsDesc != null">
        #{goodsDesc,jdbcType=CHAR},
      </if>
      <if test="imageDesc != null">
        #{imageDesc,jdbcType=CHAR},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=CHAR},
      </if>
      <if test="imageId != null">
        #{imageId,jdbcType=BIGINT},
      </if>
      <if test="viewName != null">
        #{viewName,jdbcType=VARCHAR},
      </if>
      <if test="isSale != null">
        #{isSale,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wangwang.shop.bean.HotViewHomeExample" resultType="java.lang.Integer">
    select count(*) from hot_view_home
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update hot_view_home
    <set>
      <if test="record.goodsSortOneId != null">
        goods_sort_one_id = #{record.goodsSortOneId,jdbcType=INTEGER},
      </if>
      <if test="record.sortOneName != null">
        sort_one_name = #{record.sortOneName,jdbcType=CHAR},
      </if>
      <if test="record.goodsSortTwoId != null">
        goods_sort_two_id = #{record.goodsSortTwoId,jdbcType=INTEGER},
      </if>
      <if test="record.sortTwoName != null">
        sort_two_name = #{record.sortTwoName,jdbcType=CHAR},
      </if>
      <if test="record.goodsId != null">
        goods_id = #{record.goodsId,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=CHAR},
      </if>
      <if test="record.goodsNumber != null">
        goods_number = #{record.goodsNumber,jdbcType=CHAR},
      </if>
      <if test="record.goodsSortId != null">
        goods_sort_id = #{record.goodsSortId,jdbcType=INTEGER},
      </if>
      <if test="record.saleTotal != null">
        sale_total = #{record.saleTotal,jdbcType=INTEGER},
      </if>
      <if test="record.visitNum != null">
        visit_num = #{record.visitNum,jdbcType=INTEGER},
      </if>
      <if test="record.goodsDesc != null">
        goods_desc = #{record.goodsDesc,jdbcType=CHAR},
      </if>
      <if test="record.imageDesc != null">
        image_desc = #{record.imageDesc,jdbcType=CHAR},
      </if>
      <if test="record.imageUrl != null">
        image_url = #{record.imageUrl,jdbcType=CHAR},
      </if>
      <if test="record.imageId != null">
        image_id = #{record.imageId,jdbcType=BIGINT},
      </if>
      <if test="record.viewName != null">
        view_name = #{record.viewName,jdbcType=VARCHAR},
      </if>
      <if test="record.isSale != null">
        is_sale = #{record.isSale,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update hot_view_home
    set goods_sort_one_id = #{record.goodsSortOneId,jdbcType=INTEGER},
      sort_one_name = #{record.sortOneName,jdbcType=CHAR},
      goods_sort_two_id = #{record.goodsSortTwoId,jdbcType=INTEGER},
      sort_two_name = #{record.sortTwoName,jdbcType=CHAR},
      goods_id = #{record.goodsId,jdbcType=BIGINT},
      name = #{record.name,jdbcType=CHAR},
      goods_number = #{record.goodsNumber,jdbcType=CHAR},
      goods_sort_id = #{record.goodsSortId,jdbcType=INTEGER},
      sale_total = #{record.saleTotal,jdbcType=INTEGER},
      visit_num = #{record.visitNum,jdbcType=INTEGER},
      goods_desc = #{record.goodsDesc,jdbcType=CHAR},
      image_desc = #{record.imageDesc,jdbcType=CHAR},
      image_url = #{record.imageUrl,jdbcType=CHAR},
      image_id = #{record.imageId,jdbcType=BIGINT},
      view_name = #{record.viewName,jdbcType=VARCHAR},
      is_sale = #{record.isSale,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

</mapper>