<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangwang.shop.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.wangwang.shop.bean.User" >
    <id column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="login_name" property="loginName" jdbcType="CHAR" />
    <result column="phone" property="phone" jdbcType="CHAR" />
    <result column="password" property="password" jdbcType="CHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="true_name" property="trueName" jdbcType="CHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="user_photo" property="userPhoto" jdbcType="CHAR" />
    <result column="user_qq" property="userQq" jdbcType="CHAR" />
    <result column="email" property="email" jdbcType="CHAR" />
    <result column="user_score" property="userScore" jdbcType="INTEGER" />
    <result column="last_login_date" property="lastLoginDate" jdbcType="TIMESTAMP" />
    <result column="user_form" property="userForm" jdbcType="INTEGER" />
    <result column="user_money" property="userMoney" jdbcType="INTEGER" />
    <result column="user_status" property="userStatus" jdbcType="INTEGER" />
    <result column="registerDate" property="registerdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_id, login_name, phone, password, sex, true_name, birthday, user_photo, user_qq, 
    email, user_score, last_login_date, user_form, user_money, user_status, registerDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wangwang.shop.bean.UserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.wangwang.shop.bean.UserExample" >
    delete from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wangwang.shop.bean.User" >
    insert into user (user_id, login_name, phone, 
      password, sex, true_name, 
      birthday, user_photo, user_qq, 
      email, user_score, last_login_date, 
      user_form, user_money, user_status, 
      registerDate)
    values (#{userId,jdbcType=BIGINT}, #{loginName,jdbcType=CHAR}, #{phone,jdbcType=CHAR}, 
      #{password,jdbcType=CHAR}, #{sex,jdbcType=INTEGER}, #{trueName,jdbcType=CHAR}, 
      #{birthday,jdbcType=DATE}, #{userPhoto,jdbcType=CHAR}, #{userQq,jdbcType=CHAR}, 
      #{email,jdbcType=CHAR}, #{userScore,jdbcType=INTEGER}, #{lastLoginDate,jdbcType=TIMESTAMP}, 
      #{userForm,jdbcType=INTEGER}, #{userMoney,jdbcType=INTEGER}, #{userStatus,jdbcType=INTEGER}, 
      #{registerdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wangwang.shop.bean.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="loginName != null" >
        login_name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="trueName != null" >
        true_name,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="userPhoto != null" >
        user_photo,
      </if>
      <if test="userQq != null" >
        user_qq,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="userScore != null" >
        user_score,
      </if>
      <if test="lastLoginDate != null" >
        last_login_date,
      </if>
      <if test="userForm != null" >
        user_form,
      </if>
      <if test="userMoney != null" >
        user_money,
      </if>
      <if test="userStatus != null" >
        user_status,
      </if>
      <if test="registerdate != null" >
        registerDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=CHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=CHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=CHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="trueName != null" >
        #{trueName,jdbcType=CHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="userPhoto != null" >
        #{userPhoto,jdbcType=CHAR},
      </if>
      <if test="userQq != null" >
        #{userQq,jdbcType=CHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=CHAR},
      </if>
      <if test="userScore != null" >
        #{userScore,jdbcType=INTEGER},
      </if>
      <if test="lastLoginDate != null" >
        #{lastLoginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userForm != null" >
        #{userForm,jdbcType=INTEGER},
      </if>
      <if test="userMoney != null" >
        #{userMoney,jdbcType=INTEGER},
      </if>
      <if test="userStatus != null" >
        #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="registerdate != null" >
        #{registerdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wangwang.shop.bean.UserExample" resultType="java.lang.Integer" >
    select count(*) from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user
    <set >
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.loginName != null" >
        login_name = #{record.loginName,jdbcType=CHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=CHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=CHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=INTEGER},
      </if>
      <if test="record.trueName != null" >
        true_name = #{record.trueName,jdbcType=CHAR},
      </if>
      <if test="record.birthday != null" >
        birthday = #{record.birthday,jdbcType=DATE},
      </if>
      <if test="record.userPhoto != null" >
        user_photo = #{record.userPhoto,jdbcType=CHAR},
      </if>
      <if test="record.userQq != null" >
        user_qq = #{record.userQq,jdbcType=CHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=CHAR},
      </if>
      <if test="record.userScore != null" >
        user_score = #{record.userScore,jdbcType=INTEGER},
      </if>
      <if test="record.lastLoginDate != null" >
        last_login_date = #{record.lastLoginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userForm != null" >
        user_form = #{record.userForm,jdbcType=INTEGER},
      </if>
      <if test="record.userMoney != null" >
        user_money = #{record.userMoney,jdbcType=INTEGER},
      </if>
      <if test="record.userStatus != null" >
        user_status = #{record.userStatus,jdbcType=INTEGER},
      </if>
      <if test="record.registerdate != null" >
        registerDate = #{record.registerdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user
    set user_id = #{record.userId,jdbcType=BIGINT},
      login_name = #{record.loginName,jdbcType=CHAR},
      phone = #{record.phone,jdbcType=CHAR},
      password = #{record.password,jdbcType=CHAR},
      sex = #{record.sex,jdbcType=INTEGER},
      true_name = #{record.trueName,jdbcType=CHAR},
      birthday = #{record.birthday,jdbcType=DATE},
      user_photo = #{record.userPhoto,jdbcType=CHAR},
      user_qq = #{record.userQq,jdbcType=CHAR},
      email = #{record.email,jdbcType=CHAR},
      user_score = #{record.userScore,jdbcType=INTEGER},
      last_login_date = #{record.lastLoginDate,jdbcType=TIMESTAMP},
      user_form = #{record.userForm,jdbcType=INTEGER},
      user_money = #{record.userMoney,jdbcType=INTEGER},
      user_status = #{record.userStatus,jdbcType=INTEGER},
      registerDate = #{record.registerdate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangwang.shop.bean.User" >
    update user
    <set >
      <if test="loginName != null" >
        login_name = #{loginName,jdbcType=CHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=CHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="trueName != null" >
        true_name = #{trueName,jdbcType=CHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="userPhoto != null" >
        user_photo = #{userPhoto,jdbcType=CHAR},
      </if>
      <if test="userQq != null" >
        user_qq = #{userQq,jdbcType=CHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=CHAR},
      </if>
      <if test="userScore != null" >
        user_score = #{userScore,jdbcType=INTEGER},
      </if>
      <if test="lastLoginDate != null" >
        last_login_date = #{lastLoginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userForm != null" >
        user_form = #{userForm,jdbcType=INTEGER},
      </if>
      <if test="userMoney != null" >
        user_money = #{userMoney,jdbcType=INTEGER},
      </if>
      <if test="userStatus != null" >
        user_status = #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="registerdate != null" >
        registerDate = #{registerdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangwang.shop.bean.User" >
    update user
    set login_name = #{loginName,jdbcType=CHAR},
      phone = #{phone,jdbcType=CHAR},
      password = #{password,jdbcType=CHAR},
      sex = #{sex,jdbcType=INTEGER},
      true_name = #{trueName,jdbcType=CHAR},
      birthday = #{birthday,jdbcType=DATE},
      user_photo = #{userPhoto,jdbcType=CHAR},
      user_qq = #{userQq,jdbcType=CHAR},
      email = #{email,jdbcType=CHAR},
      user_score = #{userScore,jdbcType=INTEGER},
      last_login_date = #{lastLoginDate,jdbcType=TIMESTAMP},
      user_form = #{userForm,jdbcType=INTEGER},
      user_money = #{userMoney,jdbcType=INTEGER},
      user_status = #{userStatus,jdbcType=INTEGER},
      registerDate = #{registerdate,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>